// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// colors
:root
{
    --blue:rgb(0, 89, 255);
    //--blue:#57bfed;
    --white:#fff;
    --grey: rgb(194, 191, 191);
    --black1: black;
    --black2: rgb(39, 39, 39);
}